# History files
.Rhistory
.Rapp.history

# Example code in package build process
*-Ex.R
*-Ex.png
*-Ex.txt

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# Data folder and other data files
data/
*.csv
*.RData
*.png
*.jpg
